{{ signature }}
    for (size_t n = 0; n < {{ batch }}; ++n) {
        for (size_t c = 0; c < {{ channels }}; ++c) {
            for (size_t oh = 0; oh < {{ out_h }}; ++oh) {
                for (size_t ow = 0; ow < {{ out_w }}; ++ow) {
                    {{ c_type }} grad = grad_output[n][c][oh][ow] / ({{ c_type }})({{ k_h }} * {{ k_w }});
                    int64_t in_h_base = (int64_t)oh * {{ stride_h }};
                    int64_t in_w_base = (int64_t)ow * {{ stride_w }};
                    for (size_t kh = 0; kh < {{ k_h }}; ++kh) {
                        int64_t in_h_idx = in_h_base + (int64_t)kh;
                        for (size_t kw = 0; kw < {{ k_w }}; ++kw) {
                            int64_t in_w_idx = in_w_base + (int64_t)kw;
                            out[n][c][in_h_idx][in_w_idx] = grad;
                        }
                    }
                }
            }
        }
    }
}
