{{ signature }}
    for (ssize_t i = 0; i < {{ m }}; ++i) {
        for (ssize_t j = 0; j < {{ n }}; ++j) {
            {{ acc_type }} acc = {{ acc_init }};
            for (ssize_t b_idx = 0; b_idx < {{ batch }}; ++b_idx) {
                for (ssize_t t = 0; t < {{ k }}; ++t) {
                    acc += {{ batch1_access }} * {{ batch2_access }};
                }
            }
            {{ out_access }} = ({{ beta }}) * {{ input_access }} + ({{ alpha }}) * acc;
        }
    }
}
