{{ signature }}
{% for dim in output_dims %}
    for (int64_t i{{ dim.dim }} = 0; i{{ dim.dim }} < {{ dim.size }}; ++i{{ dim.dim }}) {
{% endfor %}
{% if input_rank == 0 %}
    {{ output_access }} = 0;
{% else %}
{% if reduce_all %}
    bool has_value = false;
    {{ input_c_type }} best_value = 0;
    int64_t best_index = 0;
{% for dim in reduction_dims %}
    for (int64_t r{{ dim.dim }} = 0; r{{ dim.dim }} < {{ dim.size }}; ++r{{ dim.dim }}) {
{% endfor %}
        int64_t linear_index = {{ linear_index }};
        {{ input_c_type }} value = {{ input_access }};
        if (!has_value) {
            best_value = value;
            best_index = linear_index;
            has_value = true;
        } else if (value {{ compare_op }} best_value) {
            best_value = value;
            best_index = linear_index;
        }
{% for dim in reduction_dims | reverse %}
    }
{% endfor %}
    {{ output_access }} = best_index;
{% else %}
    {{ input_c_type }} best_value = {{ init_access }};
    int64_t best_index = 0;
    for (int64_t r{{ reduction_dim }} = 1; r{{ reduction_dim }} < {{ reduction_size }}; ++r{{ reduction_dim }}) {
        {{ input_c_type }} value = {{ loop_access }};
        if (value {{ compare_op }} best_value) {
            best_value = value;
            best_index = r{{ reduction_dim }};
        }
    }
    {{ output_access }} = best_index;
{% endif %}
{% endif %}
{% for dim in output_dims | reverse %}
    }
{% endfor %}
}
