{{ signature }}
  for (int64_t i = 0; i < {{ n }}; ++i) {
    for (int64_t j = 0; j < {{ r }}; ++j) {
      {{ c_type }} acc = 0;
      for (int64_t k = 0; k < {{ m }}; ++k) {
        {{ c_type }} diff = x1[i][k] - x2[j][k];
        acc += diff * diff;
      }
      out[i][j] = sqrtf(acc);
    }
  }
}
