{{ signature }}
    {% if has_batch %}
    for (int64_t n = 0; n < {{ batch }}; ++n) {
        for (int64_t c = 0; c < {{ channels }}; ++c) {
            for (int64_t h = 0; h < {{ out_h }}; ++h) {
                for (int64_t w = 0; w < {{ out_w }}; ++w) {
                    out[n][c][h][w] = ({{ c_type }})0;
                }
            }
        }
    }
    for (int64_t n = 0; n < {{ batch }}; ++n) {
        for (int64_t c = 0; c < {{ channels }}; ++c) {
            for (int64_t kh = 0; kh < {{ k_h }}; ++kh) {
                for (int64_t kw = 0; kw < {{ k_w }}; ++kw) {
                    int64_t col_c = (c * {{ k_h }} + kh) * {{ k_w }} + kw;
                    for (int64_t oh = 0; oh < {{ out_blocks_h }}; ++oh) {
                        int64_t out_h_idx = oh * {{ stride_h }} - {{ pad_h }} + kh * {{ dil_h }};
                        if (out_h_idx < 0 || out_h_idx >= {{ out_h }}) {
                            continue;
                        }
                        for (int64_t ow = 0; ow < {{ out_blocks_w }}; ++ow) {
                            int64_t out_w_idx = ow * {{ stride_w }} - {{ pad_w }} + kw * {{ dil_w }};
                            if (out_w_idx < 0 || out_w_idx >= {{ out_w }}) {
                                continue;
                            }
                            int64_t col_l = oh * {{ out_blocks_w }} + ow;
                            out[n][c][out_h_idx][out_w_idx] += input[n][col_c][col_l];
                        }
                    }
                }
            }
        }
    }
    {% else %}
    for (int64_t c = 0; c < {{ channels }}; ++c) {
        for (int64_t h = 0; h < {{ out_h }}; ++h) {
            for (int64_t w = 0; w < {{ out_w }}; ++w) {
                out[c][h][w] = ({{ c_type }})0;
            }
        }
    }
    for (int64_t c = 0; c < {{ channels }}; ++c) {
        for (int64_t kh = 0; kh < {{ k_h }}; ++kh) {
            for (int64_t kw = 0; kw < {{ k_w }}; ++kw) {
                int64_t col_c = (c * {{ k_h }} + kh) * {{ k_w }} + kw;
                for (int64_t oh = 0; oh < {{ out_blocks_h }}; ++oh) {
                    int64_t out_h_idx = oh * {{ stride_h }} - {{ pad_h }} + kh * {{ dil_h }};
                    if (out_h_idx < 0 || out_h_idx >= {{ out_h }}) {
                        continue;
                    }
                    for (int64_t ow = 0; ow < {{ out_blocks_w }}; ++ow) {
                        int64_t out_w_idx = ow * {{ stride_w }} - {{ pad_w }} + kw * {{ dil_w }};
                        if (out_w_idx < 0 || out_w_idx >= {{ out_w }}) {
                            continue;
                        }
                        int64_t col_l = oh * {{ out_blocks_w }} + ow;
                        out[c][out_h_idx][out_w_idx] += input[col_c][col_l];
                    }
                }
            }
        }
    }
    {% endif %}
}
