{{ signature }}
{% if has_input_shape %}
{% for dim in range(output_shape | length) %}
    for (ssize_t i{{ dim }} = 0; i{{ dim }} < {{ output_shape[dim] }}; ++i{{ dim }}) {
{% endfor %}
    bool in_bounds = true;
{% for dim in range(input_shape | length) %}
    int64_t in_{{ dim }} = (int64_t)i{{ dim }} - {{ pad_before[dim] }};
    if (in_{{ dim }} < 0 || in_{{ dim }} >= {{ input_shape[dim] }}) {
        in_bounds = false;
    }
{% endfor %}
    if (in_bounds) {
        {{ output_access }} = {{ input_access }};
    } else {
        {{ output_access }} = {{ value }};
    }
{% for dim in range(output_shape | length) | reverse %}
    }
{% endfor %}
{% else %}
    {{ output_access }} = {{ input_access }};
{% endif %}
}
