{{ signature }}
{% for dim in output_dims %}
for (ssize_t i{{ dim.dim }} = 0; i{{ dim.dim }} < {{ dim.size }}; ++i{{ dim.dim }}) {
{% endfor %}
{{ output_access }} = {{ input_access }};
{% for dim in output_dims | reverse %}
}
{% endfor %}
}
