{{ signature }}
{% for line in copy_loop_lines %}
{{ line }}
{% endfor %}
{% for line in copy_body_lines %}
{{ line }}
{% endfor %}
{% for line in copy_footer_lines %}
{{ line }}
{% endfor %}
{% for line in update_loop_lines %}
{{ line }}
{% endfor %}
{% for line in update_body_lines %}
{{ line }}
{% endfor %}
{% for line in update_footer_lines %}
{{ line }}
{% endfor %}
