{{ signature }}
{% for size in batch_shape %}
    for (size_t i{{ loop.index0 }} = 0; i{{ loop.index0 }} < {{ size }}; ++i{{ loop.index0 }}) {
{% endfor %}
        for (size_t j = 0; j < {{ n }}; ++j) {
            {{ acc_type }} acc = {{ acc_init }};
            for (size_t t = 0; t < {{ k }}; ++t) {
                acc += {{ input_access }} * {{ weight_access }};
            }
            {{ out_access }} = acc + {{ bias_access }};
        }
{% for size in batch_shape | reverse %}
    }
{% endfor %}
}
