{{ signature }}
ssize_t source_index = 0;
{% for size in output_shape %}
for (ssize_t i{{ loop.index0 }} = 0; i{{ loop.index0 }} < {{ size }}; ++i{{ loop.index0 }}) {
{% endfor %}
if ({{ mask_access }} != 0) {
{% if source_shape %}
ssize_t src_linear = source_index;
{% set source_rank = source_shape | length %}
{% for size in source_shape | reverse %}
{% set dim = source_rank - loop.index0 - 1 %}
ssize_t src_i{{ dim }} = src_linear % {{ size }};
src_linear /= {{ size }};
{% endfor %}
{{ output_access }} = {{ source_access }};
{% else %}
{{ output_access }} = source[0];
{% endif %}
source_index++;
} else {
{{ output_access }} = {{ input_access }};
}
{% for _ in output_shape | reverse %}
}
{% endfor %}
}
