{{ signature }}
{% if batch is not none %}
    for (int64_t b_idx = 0; b_idx < {{ batch }}; ++b_idx) {
{% endif %}
        for (int64_t i = 0; i < {{ m }}; ++i) {
            for (int64_t j = 0; j < {{ n }}; ++j) {
                float acc = 0.0f;
                for (int64_t t = 0; t < {{ k }}; ++t) {
                    acc += {{ a_access }} * {{ b_access }};
                }
                {{ out_access }} = acc;
            }
        }
{% if batch is not none %}
    }
{% endif %}
}
