{{ signature }}
{% for dim in output_dims %}
    for (size_t i{{ dim.dim }} = 0; i{{ dim.dim }} < {{ dim.size }}; ++i{{ dim.dim }}) {
{% endfor %}
    {{ output_access }} = {{ value }};
{% for dim in output_dims | reverse %}
    }
{% endfor %}
}
