{{ signature }}
{% for line in loop_lines %}
{{ line }}
{% endfor %}
if (i{{ select_dim }} == {{ select_index }}) {
{{ output_access }} = {{ src_access }};
} else {
{{ output_access }} = {{ input_access }};
}
{% for line in footer_lines %}
{{ line }}
{% endfor %}
