{{ signature }}
{% for dim in range(output_shape | length) %}
    for (ssize_t i{{ dim }} = 0; i{{ dim }} < {{ output_shape[dim] }}; ++i{{ dim }}) {
{% endfor %}
    {{ output_access }} = {{ input_access }};
{% for dim in range(output_shape | length) | reverse %}
    }
{% endfor %}
}
