{{ signature }}
{% for dim in output_dims %}
    for (int64_t i{{ dim.dim }} = 0; i{{ dim.dim }} < {{ dim.size }}; ++i{{ dim.dim }}) {
{% endfor %}
    float acc = {{ init_value }};
{% if input_rank == 0 %}
    acc {{ reduce_op }} {{ input_access }};
{% else %}
{% for dim in reduction_dims %}
    for (int64_t r{{ dim.dim }} = 0; r{{ dim.dim }} < {{ dim.size }}; ++r{{ dim.dim }}) {
{% endfor %}
        acc {{ reduce_op }} {{ input_access }};
{% for dim in reduction_dims | reverse %}
    }
{% endfor %}
{% endif %}
    {{ output_access }} = acc;
{% for dim in output_dims | reverse %}
    }
{% endfor %}
}
