{{ signature }}
{% for dim in output_dims %}
    for (ssize_t i{{ dim.dim }} = 0; i{{ dim.dim }} < {{ dim.size }}; ++i{{ dim.dim }}) {
{% endfor %}
    {{ acc_type }} acc = {{ init_value }};
{% if input_rank == 0 %}
{% if is_minmax %}
{% if is_float %}
    acc = {{ isnan_fn }}({{ input_access }}) ? {{ input_access }} : ({{ isnan_fn }}(acc) ? acc : ({{ input_access }} {{ compare_op }} acc ? {{ input_access }} : acc));
{% else %}
    acc = ({{ input_access }} {{ compare_op }} acc ? {{ input_access }} : acc);
{% endif %}
{% else %}
{% if bool_reduction %}
    acc {{ reduce_op }} ({{ input_access }} != 0);
{% else %}
    acc {{ reduce_op }} {{ input_access }};
{% endif %}
{% endif %}
{% else %}
{% for dim in reduction_dims %}
    for (ssize_t r{{ dim.dim }} = 0; r{{ dim.dim }} < {{ dim.size }}; ++r{{ dim.dim }}) {
{% endfor %}
{% if is_minmax %}
{% if is_float %}
        acc = {{ isnan_fn }}({{ input_access }}) ? {{ input_access }} : ({{ isnan_fn }}(acc) ? acc : ({{ input_access }} {{ compare_op }} acc ? {{ input_access }} : acc));
{% else %}
        acc = ({{ input_access }} {{ compare_op }} acc ? {{ input_access }} : acc);
{% endif %}
{% else %}
{% if bool_reduction %}
        acc {{ reduce_op }} ({{ input_access }} != 0);
{% else %}
        acc {{ reduce_op }} {{ input_access }};
{% endif %}
{% endif %}
{% for dim in reduction_dims | reverse %}
    }
{% endfor %}
{% endif %}
{% if post_op %}
    {{ post_op }}
{% endif %}
    {{ output_access }} = acc;
{% for dim in output_dims | reverse %}
    }
{% endfor %}
}
